<main class="site-main" id="main">
    <section id="dataClient">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h1>Get your estimate online here.</h1>
          </div>
          <div class="col-lg-5">
            <h2>Find your cost for tax filing.</h2>
            <p>Put in the number of forms you have to get an estimate.</p>
            <hr>
            <!-- <div class="well well-sm ">
                     <strong style="color:#000;">
                     <i class="fa fa-asterisk"></i> Required Field
                  </strong>
               </div> -->

            <div id="addedData" class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>S.N.</th>
                    <th>Form Type</th>
                    <th>Form Number</th>
                  </tr>
                </thead>
                <tbody id="table-data">
                </tbody>
              </table>
            </div>
            <label for="formAdd" style="font-size:20px;">Add Form:</label>
            <div class="row">
              <div class="col-lg-6">
                <label for="formAdd">Select Form</label>
                <div class="form-group personalInformation" id="formAdd">
                  <select class="form-control" id="form-select">
                      <option value="">
                        Select Forms
                      </option>
                      <option value="T3 FORMS">
                        T3 FORMS
                      </option>
                      <option value="T4 FORMS">
                        T4 FORMS
                      </option>
                      <option value="T4A FORMS">
                        T4A FORMS
                      </option>
                      <option value="T4A(OAS) FORMS">
                        T4A(OAS) FORMS
                      </option>
                      <option value="T4A P FORMS">
                        T4A P FORMS
                      </option>
                      <option value="T4E FORMS">
                        T4E FORMS
                      </option>
                      <option value="T4RIF FORMS">
                        T4RIF FORMS
                      </option>
                      <option value="T4RSP FORMS">
                        T4RSP FORMS
                      </option>
                      <option value="T5 FORMS">
                        T5 FORMS
                      </option>
                      <option value="T5007 FORMS">
                        T5007 FORMS
                      </option>
                      <option value="RC62 FORMS">
                        RC62 FORMS
                      </option>
                      <option value="RC210 FORMS">
                        RC210 FORMS
                      </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 ">
                <label for="numberOfForm">No of Form</label>
                <div class="form-group personalInformation">
                  <input class="form-control" value="0" type="number" id="numberOfForm" min="0">
                </div>
              </div>

              <div class="col-lg-3 text-center">
                <div class="form-group">
                  <button class="addFormButton" type="button" id="form-add">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="alert alert-danger" id="errorMessage">
              <strong>Error! </strong>Select any form or take at list one form.
            </div>
          </div>
          <div class="col-lg-4">
            <h2>Current outstanding bill</h2>
            <p>&nbsp;</p>
            <hr>
            <div class="row">
              <div class="col-md-8 bill-title-col">
                <p>Basic tax return</p>
                <p>eFile Fee</p>
              </div>
              <div class="col-md-4 bill-cost-col" style="align:left;">
                <p id="costDisplay">0</p>
                <p>2.99</p>
              </div>
            </div>
            <div class="row total-row">
              <div class="col-md-6" style=
              "text-align:right; text-transform:uppercase;">
                <p><b>Total: </b><span id="totalCost">2.99</span></p>
              </div>
              <div class="col-md-6" style=
              "text-align:right; text-transform:uppercase;">
                <p><b></b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
