<fieldset id="extra_info">
  <h2 class="fs-title">Extra Information</h2>
  <h3 class="fs-subtitle"></h3>  

  <br/>

  <div class="row">
    <div class="col-md-12 col-xs-12">  
      <label for="residence">Residence</label>
      <label class="radio-inline"><input type="radio" name="residence" value="Tenant">Tenant</label>
      <label class="radio-inline"><input type="radio" name="residence" value="Owner">Owner</label>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-12" style="display: none;" id="property-tax">
      <input type="text" name="property_tax_paid" placeholder="Property Tax Paid" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-12" style="display: none;" id="rent-paid">
      <input type="number" name="rent_paid" placeholder="Rent paid during year (12 months)" class="form-control"/>
    </div>
  </div>   

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="medical_expenses_provider" placeholder="Medical Expenses Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="medical_expenses_amount" placeholder="Medical Expenses Amount" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="donation_provider" placeholder="Donation Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="donation_amount" placeholder="Donation Amount" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="interest_on_student_load_provider" placeholder="Interest on Student Load Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="interest_on_student_load_amount" placeholder="Interest on Student Load Amount" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="public_transit_provider" placeholder="Public Transit Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="public_transit_amount" placeholder="Public Transit Amount" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="dog_care_expenses_provider" placeholder="Dog Care Expenses Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="dog_care_expenses_amount" placeholder="Dog Care Expenses Amount" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="arts_and_sports_for_child_provider" placeholder="Arts and Sports for Child Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="arts_and_sports_for_child_amount" placeholder="Arts and Sports for Child Amount" class="form-control"/>
    </div>
  </div>

   

  <br/>

  <div class="row">
    <div class="col-xs-12"  >
      <p id="add_child_info" class="add_additional_info"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add information about your child</p>
    </div>
  </div>
        
  <div class="children_information col-md-12  col-xs-12">
    

    <div class="row">
      <h4 style='text-align: left;'>Child 1:</h4>                    

      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_one_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_one_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="child_one_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_one_social_insurance" placeholder="Social Insurance Number" class="form-control"/>
      </div>
    </div>

    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 2:</h4>

      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_two_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_two_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="child_two_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_two_social_insurance" placeholder="Social Insurance Number" class="form-control"/>
      </div>
    </div>

    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 3:</h4>

      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_three_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_three_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="child_three_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_three_social_insurance" placeholder="Social Insurance Number" class="form-control"/>
      </div>
    </div>

    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 4:</h4>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_four_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_four_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="child_four_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_four_social_insurance" placeholder="Social Insurance Number" class="form-control"/>
      </div>
    </div>

    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 5:</h4>

      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_five_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_five_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="child_five_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_five_social_insurance" placeholder="Social Insurance Number (should you have it)" class="form-control"/>
      </div>
    </div>
    
    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 6:</h4>

      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_six_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_six_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="child_six_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="child_six_social_insurance" placeholder="Social Insurance Number (should you have it)" class="form-control"/>
      </div>
    </div>    
  </div>

  <br/>

  <div class="row">
    <div class="col-xs-12">
      <br />  
      <input type="file" name="t220a_document" />
      <br />
      <p>Upload T2202A from the educational institution, or any receipt if the institution does not provide a T2202A. Any other document you may want to upload.</p>
      <br />
    </div>
  </div>

  <h2 class="fs-title">Spouse</h2>

  <br/>

  <div class="row">
    <div class="col-md-12 col-xs-12">  
      <label for="residence">Residence</label>
      <label class="radio-inline"><input type="radio" name="spouse_residence" value="Tenant">Tenant</label>
      <label class="radio-inline"><input type="radio" name="spouse_residence" value="Owner">Owner</label>
    </div>
  </div>

  <br/>

  <br/>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-12" style="display: none;" id="spouse-property-tax">
      <input type="text" name="spouse_property_tax_paid" placeholder="Property Tax Paid" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-12" style="display: none;" id="spouse-rent-paid">
      <input type="number" name="spouse_rent_paid" placeholder="Rent paid during year (12 months)" class="form-control"/>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_medical_expenses_provider" placeholder="Medical Expenses Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_medical_expenses_amount" placeholder="Medical Expenses Amount" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_donation_provider" placeholder="Donation Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_donation_amount" placeholder="Donation Amount" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_interest_on_student_load_provider" placeholder="Interest on Student Load Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_interest_on_student_load_amount" placeholder="Interest on Student Load Amount" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_public_transit_provider" placeholder="Public Transit Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_public_transit_amount" placeholder="Public Transit Amount" class="form-control"/>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_arts_and_sports_for_child_provider" placeholder="Arts and Sports for Child Provider" class="form-control"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="text" name="spouse_arts_and_sports_for_child_amount" placeholder="Arts and Sports for Child Amount" class="form-control"/>
    </div>
  </div>


  <br/>

  <div class="row">
    <div class="col-xs-12"  >
      <p id="spouse_add_child_info" class="spouse_add_additional_info"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add information about your child</p>
    </div>
  </div>
        
  <div class="spouse_children_information col-md-12  col-xs-12">
    

    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 1:</h4>                    

      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_one_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_one_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="spouse_child_one_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_one_social_insurance" placeholder="Social Insurance Number" class="form-control"/>
      </div>
    </div>

    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 2:</h4>

      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_two_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_two_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="spouse_child_two_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_two_social_insurance" placeholder="Social Insurance Number" class="form-control"/>
      </div>
    </div>

    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 3:</h4>

      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_three_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_three_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="spouse_child_three_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_three_social_insurance" placeholder="Social Insurance Number" class="form-control"/>
      </div>
    </div>

    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 4:</h4>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_four_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_four_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="spouse_child_four_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_four_social_insurance" placeholder="Social Insurance Number" class="form-control"/>
      </div>
    </div>

    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 5:</h4>

      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_five_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_five_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="spouse_child_five_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_five_social_insurance" placeholder="Social Insurance Number (should you have it)" class="form-control"/>
      </div>
    </div>
    
    <br/>

  <div class="row">
      <h4 style='text-align: left;'>Child 6:</h4>

      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_six_first_name" placeholder="First Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_six_last_name" placeholder="Last Name" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="date" name="spouse_child_six_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-3 col-xs-12">
        <input type="text" name="spouse_child_six_social_insurance" placeholder="Social Insurance Number (should you have it)" class="form-control"/>
      </div>
    </div>    
  </div>

  <br/>

  <div class="row">
    <div class="col-xs-12">

      <br />
      <input type="file" name="spouse_t220a_document" />

      <br />

      <p>Upload T2202A from the educational institution, or any receipt if the institution does not provide a T2202A. Any other document you may want to upload.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <textarea placeholder="Please enter any other information you would like us to know." name="comment"></textarea>
    </div>
  </div>

  <input type="button" name="prev" class="prev action-button" value="Previous" />
  <input type="submit" name="submit" class="submit action-button" value="Submit" onclick="return confirm('Please make sure you have access to a printer before submitting this form.')" />
</fieldset> 