fieldset#extra_info
  h2.fs-title Extra Information
  
  .row
    table.table.table-responsive
      tr
        th.col-xs-4 Residence
        td.col-xs-8
          label.radio-inline
            input name="residence" type="radio" value="Tenant"
            | Tenant
          label.radio-inline
            input name="residence" type="radio" value="Owner"
            | Owner
          br/
          #property-tax style=("display: none;") 
            input.form-control name="property_tax_paid" placeholder=("Property Tax Paid") type="text" /
          #rent-paid style=("display: none;") 
            input.form-control name="rent_paid" placeholder=("Rent paid during year (12 months)") type="number" /
      tr
        th.col-xs-4 Medical Expenses Provider
        td.col-xs-8
          input.form-control name="medical_expenses_provider" placeholder=("Medical Expenses Provider") type="text" /
      tr
        th.col-xs-4 Medical Expenses Amount
        td.col-xs-8
          input.form-control name="medical_expenses_amount" placeholder=("Medical Expenses Amount") type="text" /
      tr
        th.col-xs-4 Donation Provider
        td.col-xs-8
          input.form-control name="donation_provider" placeholder=("Donation Provider") type="text" 
      tr
        th.col-xs-4 Donation Amount
        td.col-xs-8
          input.form-control name="donation_amount" placeholder=("Donation Amount") type="text" /
      tr
        th.col-xs-4 Interest on Student Loan Provider
        td.col-xs-8
          input.form-control name="interest_on_student_load_provider" placeholder=("Interest on Student Load Provider") type="text" /
      tr
        th.col-xs-4 Interest on Student Load Amount
        td.col-xs-8
          input.form-control name="interest_on_student_load_amount" placeholder=("Interest on Student Load Amount") type="text" /
      tr
        th.col-xs-4 Public Transit Provider
        td.col-xs-8
          input.form-control name="public_transit_provider" placeholder=("Public Transit Provider") type="text" /
      tr
        th.col-xs-4 Public Transit Amount
        td.col-xs-8
          input.form-control name="public_transit_amount" placeholder=("Public Transit Amount") type="text" /
      tr
        th.col-xs-4 Dog Care Expenses Provider
        td.col-xs-8
          input.form-control name="dog_care_expenses_provider" placeholder=("Dog Care Expenses Provider") type="text" /
      tr
        th.col-xs-4 Dog Care Expenses Amount
        td.col-xs-8
          input.form-control name="dog_care_expenses_amount" placeholder=("Dog Care Expenses Amount") type="text" /
      tr
        th.col-xs-4 Arts and Sports for Child Provider
        td.col-xs-8
          input.form-control name="arts_and_sports_for_child_provider" placeholder=("Arts and Sports for Child Provider") type="text" /
      tr
        th.col-xs-4 Arts and Sports for Child Amount
        td.col-xs-8
          input.form-control name="arts_and_sports_for_child_amount" placeholder=("Arts and Sports for Child Amount") type="text" /

  .row
    .col-xs-12
      .add_child_info.add_additional_info.btn.btn-success Add information about your child
    
  .row
    table.table.table-responsive.children_information
      tr
        th.col-xs-4 First Name (Child 1)
        td.col-xs-8
          input.form-control name="child_1_first_name" placeholder=("First Name") type="text" /
      tr
        th.col-xs-4 Last Name (Child 1)
        td.col-xs-8
          input.form-control name="child_1_last_name" placeholder=("Last Name") type="text" /
      tr
        th.col-xs-4 Date of birth.col-xs-4 (Child 1)
        td.col-xs-8
          input.form-control name="child_1_date_of_birth.col-xs-4" placeholder=("Date of Birth") type="date" /
      tr
        th.col-xs-4 Social Insurance (Child 1)
        td.col-xs-8
          input.form-control name="child_1_social_insurance" placeholder=("Social Insurance Number") type="text" /

  .row
    table.table.table-responsive
      tr
        th.col-xs-4 T2202A
        td.col-xs-8
          p Upload T2202A from the educational institution, or any receipt if th.col-xs-4e institution does not provide a T2202A. Any oth.col-xs-4er document you may want to upload.
          input name="t220a_document" type="file" /

  h2.fs-title Spouse

  .row
    table.table.table-responsive
      tr
        th.col-xs-4 Residence
        td.col-xs-8
          label.radio-inline
            input name="spouse_residence" type="radio" value="Tenant"
            | Tenant
          label.radio-inline
            input name="spouse_residence" type="radio" value="Owner"
            | Owner
          #spouse-property-tax.col-md-4.col-md-offset-4.col-xs-12 style=("display: none;") 
            input.form-control name="spouse_property_tax_paid" placeholder=("Property Tax Paid") type="text" /
          #spouse-rent-paid.col-md-4.col-md-offset-4.col-xs-12 style=("display: none;") 
            input.form-control name="spouse_rent_paid" placeholder=("Rent paid during year (12 month.col-xs-4s)") type="number" /
        tr
          th.col-xs-4 Medical Expenses Provider
          td.col-xs-8
            input.form-control name="spouse_medical_expenses_provider" placeholder=("Medical Expenses Provider") type="text" /
        tr
          th.col-xs-4 Medical Expenses Amount
          td.col-xs-8
            input.form-control name="spouse_medical_expenses_amount" placeholder=("Medical Expenses Amount") type="text" /
        tr
          th.col-xs-4 Donation Provider
          td.col-xs-8
            input.form-control name="spouse_donation_provider" placeholder=("Donation Provider") type="text" 
        tr
          th.col-xs-4 Donation Amount
          td.col-xs-8
            input.form-control name="spouse_donation_amount" placeholder=("Donation Amount") type="text" /
        tr
          th.col-xs-4 Interest on Student Loan Provider
          td.col-xs-8
            input.form-control name="spouse_interest_on_student_load_provider" placeholder=("Interest on Student Load Provider") type="text" /
        tr
          th.col-xs-4 Interest on Student Load Amount
          td.col-xs-8
            input.form-control name="spouse_interest_on_student_load_amount" placeholder=("Interest on Student Load Amount") type="text" /
        tr
          th.col-xs-4 Public Transit Provider
          td.col-xs-8
            input.form-control name="spouse_public_transit_provider" placeholder=("Public Transit Provider") type="text" /
        tr
          th.col-xs-4 Public Transit Amount
          td.col-xs-8
            input.form-control name="spouse_public_transit_amount" placeholder=("Public Transit Amount") type="text" /
        tr
          th.col-xs-4 Dog Care Expenses Provider
          td.col-xs-8
            input.form-control name="spouse_dog_care_expenses_provider" placeholder=("Dog Care Expenses Provider") type="text" /
        tr
          th.col-xs-4 Dog Care Expenses Amount
          td.col-xs-8
            input.form-control name="spouse_dog_care_expenses_amount" placeholder=("Dog Care Expenses Amount") type="text" /
        tr
          th.col-xs-4 Arts and Sports for Child Provider
          td.col-xs-8
            input.form-control name="spouse_arts_and_sports_for_child_provider" placeholder=("Arts and Sports for Child Provider") type="text" /
        tr
          th.col-xs-4 Arts and Sports for Child Amount
          td.col-xs-8
            input.form-control name="spouse_arts_and_sports_for_child_amount" placeholder=("Arts and Sports for Child Amount") type="text" /

  .row
    .col-xs-12
      .spouse_add_child_info.spouse_add_additional_info.btn.btn-success Add information about your child

  .row
    table.table.table-responsive.spouse_children_information
      tr
        th.col-xs-4 First Name (Child 1)
        td
          input.form-control name="spouse_child_1_first_name" placeholder=("First Name") type="text" /
      tr
        th.col-xs-4 Last Name (Child 1)
        td.col-xs-8
          input.form-control name="spouse_child_1_last_name" placeholder=("Last Name") type="text" /
      tr
        th.col-xs-4 Date of birth.col-xs-4 (Child 1)
        td.col-xs-8
          input.form-control name="spouse_child_1_date_of_birth.col-xs-4" placeholder=("Date of Birth") type="date" /
      tr
        th.col-xs-4 Social Insurance (Child 1)
        td.col-xs-8
          input.form-control name="spouse_child_1_social_insurance" placeholder=("Social Insurance Number") type="text" /

  .row
    table.table.table-responsive
      tr
        th.col-xs-4 T2202A
        td.col-xs-8
          p Upload T2202A from th.col-xs-4e educational institution, or any receipt if the institution does not provide a T2202A. Any oth.col-xs-4er document you may want to upload.
          input name="spouse_t220a_document" type="file" /
  

  .row
    table.table.table-responsive
      tr
        th.col-xs-4 Comments
        td.col-xs-8
          .form-group
            textarea.form-control name="comment" placeholder=("Please enter any other information you would like us to know.") rows="5"
        
  input.prev.action-button name="prev" type="button" value="Previous" /
  input.next.action-button name="next" type="button" value="Next" /
   