<fieldset id="dataClient_forms">
  <div class="row">
    <div class="col-lg-3">
      <h1>Get your estimate online here.</h1>
    </div>
    <div class="col-lg-5">
      <h2>Find your cost for tax filing.</h2>
      <p>Put in the number of forms you have to get an estimate.</p>
      <hr>
      <div id="addedData" class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Form Type</th>
              <th>Form Number</th>
              <th>Cost(Per each)</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="table-data">
          </tbody>
        </table>
      </div>
      <span style="font-size:20px;font-weight:bold;">Add Form:</span>
      <div class="row">
        <div class="col-lg-6">
          <label for="form-select">Select Form</label>
          <div class="form-group personalInformation">
            <%= simple_form_for :form, url: '' do |f| %>
              <%= f.input :form_type, collection: Form::FORM_TYPES.map{|k,v| [k,v[0], data: {cost: v[1]},id: k]},
                          input_html: {class: 'form-control',id: 'form-select'},label: false,include_blank: false %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-3 ">
          <label for="numberOfForm">No of Form</label>
          <div class="form-group personalInformation">
            <input class="form-control" value="1" type="number" id="numberOfForm" min="1">
          </div>
        </div>

        <div class="col-lg-3 text-center">
          <div class="form-group">
            <button class="addFormButton" type="button" id="form-add">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>


      <div class="alert alert-danger" id="errorMessage">
        <strong>Error! </strong>Select at least one form.
      </div>
      <div class="bg-info info">
        <div class="info-icon">
          <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
        </div>
        <div class="info-desc">
          The Basic tax return form contains two T4 form and
          one T4A, T4A(OAS), T4A(P), T4E, T5, T5007, and two
          Medical expense forms.
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h2>Current outstanding bill</h2>
      <p>&nbsp;</p>
      <hr>
      <div class="row">
        <div class="col-md-8 bill-title-col">
          <p>Basic tax return</p>
          <p>eFile Fee</p>
        </div>
        <div class="col-md-4 bill-cost-col" style="align:left;">
          <p id="costDisplay">0</p>
          <p>2.99</p>
        </div>
      </div>
      <div class="row total-row">
        <div class="col-md-6" style=
        "text-align:right; text-transform:uppercase;">
          <p><b>Total: </b><span id="totalCost">2.99</span></p>
        </div>
        <div class="col-md-6" style=
        "text-align:right; text-transform:uppercase;">
          <p><b></b></p>
        </div>
      </div>
    </div>
  </div>
  <input type="submit" name="submit" class="submit action-button center-block" value="Submit" />

</fieldset>