<fieldset id="dataClient_forms">
  <div class="row">
    <div class="col-lg-3">
      <h1>Get your estimate online here.</h1>
    </div>
    <div class="col-lg-5">
      <h2>Find your cost for tax filing.</h2>
      <p>Put in the number of forms you have to get an estimate.</p>
      <hr>
      <div id="addedData" class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Form Type</th>
              <th>Form Number</th>
              <th>Cost(Per each)</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="table-data">
          </tbody>
        </table>
      </div>
      <span style="font-size:20px;font-weight:bold;">Add Form:</span>
      <div class="row">
        <div class="col-lg-6">
          <label for="form-select">Select Form</label>
          <div class="form-group personalInformation">
            <div class="form-group select required form_form_type">
              <select class="form-control select required form-control" id="form-select" name="form[form_type]">
                <option data-cost=" " id="Select Form" value=" ">Select Form</option>
                <% Form.all.each do |form| %>                  
                   <option data-cost="<%= form.price %>" value="<%= form.name %>"><%= form.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-3 ">
          <label for="numberOfForm">No of Form</label>
          <div class="form-group personalInformation">
            <input class="form-control" value="1" type="number" id="numberOfForm" min="1">
          </div>
        </div>

        <div class="col-lg-3 text-center">
          <div class="form-group">
            <button class="addFormButton" type="button" id="form-add">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>


      <div class="alert alert-danger" id="errorMessage">
        <strong>Error! </strong>Select at least one form.
      </div>

      <div class="row">
        <div class="col-xs-12" style="text-align: left">
          <label for="disability"><input type="checkbox" name="disability" value="true">Disability</label><br/>
          <label for="first_time_home_buyer"><input type="checkbox" name="first_time_home_buyer" value="true">First Time Home Buyer</label><br/>
          <label for="moving_expense"><input type="checkbox" name="moving_expense" value="true">Moving Expense (must be atleast 40km from old residence)</label><br/>

          <label for="sole_proprietorship"><input type="checkbox" name="sole_proprietorship" value="true" onchange="triggerConfirm(this)">Sole Proprietorship</label><br/>

          <label for="rental_properties"><input type="checkbox" name="rental_properties" value="true" onchange="triggerConfirm(this)">Rental Properties</label><br/>

          <label for="add_forms_for_spouse"><input type="checkbox" name="add_forms_for_spouse" value="true" id="add_forms_for_spouse">Add Spouse</label><br/>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4">
      <h2>Estimate</h2>
      <p>&nbsp;</p>
      <hr>
      <div class="row">
        <div class="col-md-8 bill-title-col">
          <p>Total</p>
          <p>eFile Fee</p>
          <p>HST (13%)</p>
        </div>
        <div class="col-md-4 bill-cost-col" style="align:left;">
          <p id="costDisplay">0</p>
          <p>2.99</p>          
        </div>
      </div>
      <div class="row total-row">
        <div class="col-md-8" style=
        "text-transform:uppercase;">
          <p>Total:</p>
        </div>   
        <div class="col-md-4">
          <span id="totalCost">3.38</span>
        </div>     
      </div>

      <div class="row total-row">
        <div class="col-md-8" style=
        "text-transform:uppercase;">
          <p>Total Family:</p>
        </div>

        <div class="col-md-4">
          <span id="totalFamilyCost">3.38</span>
        </div>        
      </div>

      <div class="row total-row">
        <div class="col-md-12">
          <p><small>The price may change if you forget to include information.</small></p>
        </div>        
      </div>
    </div>
  </div>

  <input type="button" name="next" class="next action-button  center-block" value="Next" /> 
  

</fieldset>