<fieldset id="dataClient_forms">
  <div class="row">
    <div class="col-lg-3">
      <h1>Get your estimate online here.</h1>
    </div>
    <div class="col-lg-5">
      <h2>Find your cost for tax filing.</h2>
      <p>Put in the number of forms you have to get an estimate.</p>
      <hr>
      <div id="addedData" class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Form Type</th>
              <th>Form Number</th>
              <th>Cost(Per each)</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="table-data">
          </tbody>
        </table>
      </div>
      <span style="font-size:20px;font-weight:bold;">Add Form:</span>
      <div class="row">
        <div class="col-lg-6">
          <label for="form-select">Select Form</label>
          <div class="form-group personalInformation">
            <div class="form-group select required form_form_type">
              <select class="form-control select required form-control" id="form-select" name="form[form_type]">
                <option data-cost=" " id="Select Form" value=" ">Select Form</option>
                <% Form.all.each do |form| %>                  
                   <option data-cost="<%= form.price %>" id="<%= form.name %>" value="<%= form.name %>"><%= form.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-3 ">
          <label for="numberOfForm">No of Form</label>
          <div class="form-group personalInformation">
            <input class="form-control" value="1" type="number" id="numberOfForm" min="1">
          </div>
        </div>

        <div class="col-lg-3 text-center">
          <div class="form-group">
            <button class="addFormButton" type="button" id="form-add">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>


      <div class="alert alert-danger" id="errorMessage">
        <strong>Error! </strong>Select at least one form.
      </div>
      
    </div>
    <div class="col-lg-4">
      <h2>Current outstanding bill</h2>
      <p>&nbsp;</p>
      <hr>
      <div class="row">
        <div class="col-md-8 bill-title-col">
          <p>Basic tax return</p>
          <p>eFile Fee</p>
        </div>
        <div class="col-md-4 bill-cost-col" style="align:left;">
          <p id="costDisplay">0</p>
          <p>2.99</p>
        </div>
      </div>
      <div class="row total-row">
        <div class="col-md-6" style=
        "text-align:right; text-transform:uppercase;">
          <p><b>Total: </b><span id="totalCost">2.99</span></p>
        </div>
        <div class="col-md-6" style=
        "text-align:right; text-transform:uppercase;">
          <p><b></b></p>
        </div>
      </div>
    </div>
  </div>

  <input type="button" name="next" class="next action-button  center-block" value="Next" /> 
  

</fieldset>