<fieldset>
	<div class="row">
    <div class="col-xs-12">

      <br />
      <label for="t_1013">Upload T1013</label>
      <input type="file" name="t_1013" />

      <label for="t_183">Upload T183</label>
      <input type="file" name="t_183" />

      <br />

      <p>The authorization form will allow us to represent you with Canada Revenue Agency and to obtain your tax slips from the CRA.</p>

      <p>
      	The eFiling form will allow us to eFile your return to CRA to be processed.
      </p>
    </div>
  </div>

	<input type="button" name="prev" class="prev action-button" value="Previous" />
	<input type="submit" name="submit" class="submit action-button" value="Submit" onclick="return confirm('Please make sure you have access to a printer before submitting this form.')" />
</fieldset>