<fieldset style="text-align: left;">
	<div class="row">
    <div class="col-xs-12">

      <br />
      <label for="t_1013">Sign and Upload Authorization Form</label>
      <%= link_to 'Download', 'assets/files/t1013.pdf', target: '_blank' %>
      <h5>Instructions</h5>
      <p>
        Print only pages 3 and 4<br>
        Complete only Part 1<br>
        Print your name, date and signature on Part 5<br>
        Upload the documents
      </p>
      <input type="file" name="t_1013" />

      <br />
      <br />

      <label for="t_183">Sign and Upload E-File Form</label>
      <%= link_to 'Download', 'assets/files/t183.pdf', target: '_blank' %>
      <h5>Instructions</h5>
      <p>
      Print page one only.<br/>
        Complete only Part A<br/>
        Check Part D <br/>
        Print name, date and signature on part D and F.
      </p>
      <input type="file" name="t_183" />

      <br />

      <p>The authorization form will allow us to represent you with Canada Revenue Agency and to obtain your tax slips from the CRA.</p>

      <p>
      	The eFiling form will allow us to eFile your return to CRA to be processed.
      </p>
    </div>
  </div>

	<input type="button" name="prev" class="prev action-button" value="Previous" />
	<!-- <input type="submit" name="submit" class="submit action-button" value="Submit" onclick="return confirm('Please make sure you have access to a printer before submitting this form.')" /> -->
	<input type="submit" name="submit" class="submit action-button" value="Submit"/>
</fieldset>
