<fieldset id="spouse_info">
  <h2 class="fs-title">Spouse Information</h2>
  <h3 class="fs-subtitle"></h3>
  <div class="row">
    <div class="col-xs-12">
      <h5 id="add_spouse_info" class="add_additional_info">Add information about your spouse</h5>
    </div>
  </div>

  <div class="spouse_information">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <input type="text" name="spouse_first_name" placeholder="Spouse First Name" class="form-control"/>
      </div>
      <div class="col-md-6 col-xs-12">
        <input type="text" name="spouse_last_name" placeholder="Last Name" class="form-control"/>
      </div>
    </div>

    <br>   

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <input type="text" name="spouse_date_of_birth" placeholder="Date of Birth" class="form-control"/>
      </div>
      <div class="col-md-6 col-xs-12">
        <input type="text" name="spouse_social_insurance" placeholder="Social Insurance Number" class="form-control"/>
      </div>
    </div>
    
    <br>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <input type="text" name="spouse_phone_number" placeholder="Phone Number" class="form-control"/>
      </div>
      <div class="col-md-6 col-xs-12">
        <input type="text" name="spouse_email" placeholder="Email Address" class="form-control"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-xs-12">    
        <div class="checkbox">         
          <label><input type="checkbox" name="spouse_receive_notice_of_assesment_by_email"/>Would you like to receive your notice of assessment by email?</label>
        </div>
      </div>

      <div class="col-md-3 col-xs-12">    
        <div class="checkbox">         
          <label><input type="checkbox" name="spouse_canadian_citizen"/>Canadian Citizen</label>
        </div>
      </div>

      <div class="col-md-3 col-xs-12">    
        <div class="checkbox">         
          <label><input type="checkbox" name="spouse_disability_for_tax_purposes"/>Disability for Tax Purposes</label>
        </div>
      </div>

      <div class="col-md-3 col-xs-12">    
        <div class="checkbox">         
          <label><input type="checkbox" name="spouse_interest_on_student_loans"/>Interest on Student Loans</label>
        </div>
      </div>
    </div>



  </div>
  <input type="button" name="prev" class="prev action-button" value="Previous" />
  <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>