<main class="site-main" id="main">
  <section id="dataClient">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h1>Thank you for choosing Fortax.</h1>

        <p>
          We'll get back to you promptly regarding the forms.
        </p>

        <p>
          <%= link_to 'Back Home', root_path %>
        </p>
      </div>
    </div>
  </section>
</main>