<main class="site-main" id="main">
  <section id="dataClient">
  <form id="msform" action="/online_estimates" method="POST">

    <ul id="progressbar">
      <li class="active">Personal Information</li>
      <li>Contact Information</li>
      <li>Forms</li>
    </ul>
   
    <%= render 'client_data' %>
     
    <%= render 'client_contact_info' %>
    
    <%= render 'online_estimate' %>            

    </form>
  </section>
</main>