<main class="site-main" id="main">
    <section id="dataClient">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h1>Get your estimate online here.</h1>
          </div>
          <div class="col-lg-5">
            <h2>Find your cost for tax filing.</h2>
            <p>Put in the number of forms you have to get an estimate.</p>
            <hr>
            <!-- <div class="well well-sm ">
                     <strong style="color:#000;">
                     <i class="fa fa-asterisk"></i> Required Field
                  </strong>
               </div> -->
            <!-- Begining of T3 Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t3Form">T3 Forms</label>
              <div class="input-group">
                <input class="form-control" id="t3Form" min="0" name="t3Form"
                placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T3 Forms -->
            <!-- Begining of T4 Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t4Form">T4 Forms</label>
              <div class="input-group">
                <input class="form-control" id="t4Form" min="0" name="t4Form"
                placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T4 Forms -->
            <!-- Begining of T4A Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t4aForm">T4A Forms</label>
              <div class="input-group">
                <input class="form-control" id="t4aForm" min="0" name="t4aForm"
                placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T4A Forms -->
            <!-- Begining of T4A OAS Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t4aOasForm">T4A(OAS) Forms</label>
              <div class="input-group">
                <input class="form-control" id="t4aOasForm" min="0" name=
                "t4aOasForm" placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T4A OAS Forms -->
            <!-- Begining of T4A P Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t4aPForm">T4A P Forms</label>
              <div class="input-group">
                <input class="form-control" id="t4aPForm" min="0" name=
                "t4aPForm" placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T4A P Forms -->
            <!-- Begining of T4E Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t4eForm">T4E Forms</label>
              <div class="input-group">
                <input class="form-control" id="t4eForm" min="0" name="t4eForm"
                placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T4E Forms -->
            <!-- Begining of T4RIF Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t4rifForm">T4RIF Forms</label>
              <div class="input-group">
                <input class="form-control" id="t4rifForm" min="0" name=
                "t4rifForm" placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T4RIF Forms -->
            <!-- Begining of T4RSP Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t4rspForm">T4RSP Forms</label>
              <div class="input-group">
                <input class="form-control" id="t4rspForm" min="0" name=
                "t4rspForm" placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T4RSP Forms -->
            <!-- Begining of T5 Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t5Form">T5 Forms</label>
              <div class="input-group">
                <input class="form-control" id="t5Form" min="0" name="t5Form"
                placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T5 Forms -->
            <!-- Begining of T5007 Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="t5007Form">T5007 Forms</label>
              <div class="input-group">
                <input class="form-control" id="t5007Form" min="0" name=
                "t5007Form" placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of T5007 Forms -->
            <!-- Begining of RC62 Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="rc62Form">RC62 Forms</label>
              <div class="input-group">
                <input class="form-control" id="rc62Form" min="0" name=
                "rc62Form" placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of RC62 Forms -->
            <!-- Begining of RC210 Forms -->
            <div class="form-group personalInformation">
              <label class="form-label" for="rc210Form">RC210 Forms</label>
              <div class="input-group">
                <input class="form-control" id="rc210Form" min="0" name=
                "rc210Form" placeholder="1" required="" type="number">
                <!-- <span class="input-group-addon"><i class="fa fa-asterisk"></i></span> -->
              </div>
            </div><!-- End of RC210 Forms -->
          </div>
          <div class="col-lg-4">
            <h2>Current outstanding bill</h2>
            <p>&nbsp;</p>
            <hr>
            <div class="row">
              <div class="col-md-8 bill-title-col">
                <p>Basic tax return</p>
                <p>eFile Fee</p>
              </div>
              <div class="col-md-4 bill-cost-col" style="align:left;">
                <p>49.99</p>
                <p>2.99</p>
              </div>
            </div>
            <div class="row total-row">
              <div class="col-md-6" style=
              "text-align:right; text-transform:uppercase;">
                <p><b>Total:</b></p>
              </div>
              <div class="col-md-6" style=
              "text-align:right; text-transform:uppercase;">
                <p><b></b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</main>
