<main class="site-main" id="main">
  <section id="dataClient">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1>Submit your personal information online</h1>
          <p>Leave us your information and we will get back to you.</p>
        </div>
        <form role="form">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12 pageTitle">
                <h1>Your Personal Information</h1>
              </div>
            </div>
            <div class="well well-sm">
              <strong style="color:#000;"><i class="fa fa-asterisk"></i>
              Required Field</strong>
            </div><!-- Begining of First Name -->
            <div class="form-group personalInformation">
              <label for="firstName">First Name</label>
              <div class="input-group">
                <input class="form-control" id="firstName" name="firstName"
                placeholder="First Name" required="" type="text"> <span class=
                "input-group-addon"><i class="fa fa-asterisk"></i></span>
              </div>
            </div><!-- End of First Name -->
            <!--  -->
            <!-- Begining of Middle Name -->
            <!--
                           <div class="form-group">
                           <label for="InputName">Middle Name</label>
                           <div class="input-group">
                           <input type="text" width="100%" class="form-control" name="InputName" id="InputName" placeholder="Middle Name" required>
                           <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                        </div>
                     </div> -->
            <!-- End of Middle Name -->
            <!--  -->
            <!-- Begining of Last Name -->
            <div class="form-group personalInformation">
              <label for="lastName">Last Name</label>
              <div class="input-group">
                <input class="form-control" id="lastName" name="lastName"
                placeholder="Last Name" required="" type="text"> <span class=
                "input-group-addon"><i class="fa fa-asterisk"></i></span>
              </div>
            </div><!-- End of Last Name -->
            <!--  -->
            <!-- Begining of Email -->
            <div class="form-group personalInformation">
              <label for="email">Email Address</label>
              <div class="input-group">
                <input class="form-control" id="email" name="email"
                placeholder="Enter Email" required="" type="email">
                <span class="input-group-addon"><i class=
                "fa fa-asterisk"></i></span>
              </div>
            </div><!-- End of Email -->
            <!--  -->
            <!-- Begining of Phone Number -->
            <div class="form-group personalInformation">
              <label for="phoneNum">Phone Number</label>
              <div class="input-group">
                <input class="form-control" id="phoneNum" name="sinNum"
                placeholder="416 220 6428" required="" type="text">
                <span class="input-group-addon"><i class=
                "fa fa-asterisk"></i></span>
              </div>
            </div><!-- End of Phone Number -->
            <!--  -->
            <!-- Begining of Social Insurance Number -->
            <div class="form-group personalInformation">
              <label for="sinNum">Social Insurance Number</label>
              <div class="input-group">
                <input class="form-control" id="sinNum" maxlength="9" name=
                "sinNum" placeholder="555 555 555" required="" type="number">
                <span class="input-group-addon"><i class=
                "fa fa-asterisk"></i></span>
              </div>
            </div><!-- End of Social Insurance Number -->
            <!--  -->
            <!-- Begining of Date of Birth -->
            <div class="form-group personalInformation">
              <label for="dobYear">Date of Birth</label>
              <div class="form-inline">
                <div class="input-group">
                  <input class="form-control" maxlength="4" name="dobYear"
                  placeholder="YYYY" required="" size="4" type="text">
                  <span class="input-group-addon"><i class=
                  "fa fa-asterisk"></i></span>
                </div>
                <div class="input-group">
                  <input class="form-control" name="dobMonth" placeholder="MMM"
                  required="" size="5" type="text"> <span class=
                  "input-group-addon"><i class="fa fa-asterisk"></i></span>
                </div>
                <div class="input-group">
                  <input class="form-control" name="dobDay" placeholder="DD"
                  required="" size="2" type="text"> <span class=
                  "input-group-addon"><i class="fa fa-asterisk"></i></span>
                </div>
              </div>
            </div><!-- End of Date of Birth -->
            <!--  -->
            <!-- Begining of Gender -->
            <div class="form-group personalInformation">
              <label for="male">Gender</label>
              <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default"><input id="male" type="radio"
                  value="male"> Male</label> <label class=
                  "btn btn-default"><input id="female" type="radio" value=
                  "female"> Female</label> <label class=
                  "btn btn-default"><input id="other" type="radio" value=
                  "other"> Other</label>
                </div>
              </div>
            </div><!-- End of Gender -->
            <!--  -->
            <!-- Begining of Address Line 1-->
            <div class="form-group personalInformation">
              <label for="addressOne">Address Line 1</label>
              <div class="input-group">
                <input class="form-control" id="addressOne" name="addressOne"
                placeholder="Apt - 000 , 123 Street" required="" type="text">
                <span class="input-group-addon"><i class=
                "fa fa-asterisk"></i></span>
              </div>
            </div><!-- End of Address Line 1 -->
            <!--  -->
            <!-- Begining of Address Line 2-->
            <div class="form-group personalInformation">
              <label for="addressTwo">Address Line 2</label>
              <div class="input-group">
                <input class="form-control" id="addressTwo" name="addressTwo"
                placeholder="City Name" type="text"> <span class=
                "input-group-addon"></span>
              </div>
            </div><!-- End of Address Line 2 -->
            <!--  -->
            <!-- Begining of Province and Postal Code -->
            <div class="form-group personalInformation">
              <label for="postalCode">Postal Code and Province </label>
              <div class="form-inline">
                <div class="input-group">
                  <input type="text" name="postalCode" class="form-control" maxlength="7" size="7" placeholder="M1H 1L3" required>
                  <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                </div>
                <div class="input-group">
                  <input type="text" name="province" class="form-control" size="5" maxlenght="2" placeholder="ON" required>
                  <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                </div>
              </div>
            </div>
            <!-- End of Province and Postal Code -->
            <!--  -->
            <!-- Begining of Status -->
            <div class="form-group personalInformation">
              <div class="form-group">
                <label for="statusSelection">Relationship Status</label>
                <select class="form-control selectpicker" id="statusSelection"
                name="statuSelection" required="">
                  <option value="single">
                    Single
                  </option>
                  <option value="cls">
                    Common Law Spouse
                  </option>
                  <option value="married">
                    Married
                  </option>
                  <option value="widowed">
                    Widowed
                  </option>
                  <option value="separeted">
                    Separeted
                  </option>
                  <option value="divorced">
                    Divorced
                  </option>
                </select>
              </div>
            </div><!-- End of Status -->
            <!--  -->
            <!-- Begining of Status Change -->
            <div class="form-group personalInformation">
              <div class="form-group">
                <label for="changeStatusSelection">Change in relationship
                status during the last year?</label> <select class=
                "form-control selectpicker" id="changeStatusSelection" name=
                "changeStatusSelection" required="">
                  <option value="yes">
                    Yes
                  </option>
                  <option value="no">
                    No
                  </option>
                </select>
              </div>
            </div><!-- End of Status Change -->
            <!--  -->
            <!-- Begining of Date of Chage -->
            <div class="form-group personalInformation">
              <label for="changeYear">If yes, date of change</label>
              <div class="form-inline">
                <div class="input-group">
                  <input class="form-control" maxlength="4" name="changeYear"
                  placeholder="YYYY" required="" size="4" type="text">
                  <span class="input-group-addon"><i class=
                  "fa fa-asterisk"></i></span>
                </div>
                <div class="input-group">
                  <input class="form-control" name="changeMonth" placeholder=
                  "MMM" required="" size="5" type="text"> <span class=
                  "input-group-addon"><i class="fa fa-asterisk"></i></span>
                </div>
                <div class="input-group">
                  <input class="form-control" name="changeDay" placeholder="DD"
                  required="" size="2" type="text"> <span class=
                  "input-group-addon"><i class="fa fa-asterisk"></i></span>
                </div>
              </div>
            </div><!-- End of Date of Chage -->
            <!--  -->
            <!-- Begining of Status -->
            <div class="form-group personalInformation">
              <div class="form-group">
                <label for="prevStatusSelection">Relationship status before the
                date of chage</label> <select class="form-control selectpicker"
                id="prevStatusSelection" name="prevStatusSelection" required=
                "">
                  <option value="single">
                    Single
                  </option>
                  <option value="cls">
                    Common Law Spouse
                  </option>
                  <option value="married">
                    Married
                  </option>
                  <option value="widowed">
                    Widowed
                  </option>
                  <option value="separeted">
                    Separeted
                  </option>
                  <option value="divorced">
                    Divorced
                  </option>
                </select>
              </div>
            </div><!-- End of Status -->
            <!--  -->
            <!-- Begining of Email Notice of Assement by mail -->
            <div class="form-group personalInformation">
              <div class="form-group">
                <label for="noticeOfAssesment">Would you like to recieve notice
                of assesment by e-mail ?</label> <select class=
                "form-control selectpicker" id="noticeOfAssesment" name=
                "noticeOfAssesment" required="">
                  <option value="yes">
                    Yes
                  </option>
                  <option value="no">
                    No
                  </option>
                </select>
              </div>
            </div><!-- End of Email Notice of Assement by mail -->
            <!--  -->
            <!-- Begining of Register for Direct Deposit -->
            <div class="form-group personalInformation">
              <div class="form-group">
                <label for="directDeposit">Are you registered for direct
                deposit ?</label> <select class="form-control selectpicker" id=
                "directDeposit" name="directDeposit" required="">
                  <option value="yes">
                    Yes
                  </option>
                  <option value="no">
                    No
                  </option>
                </select>
              </div>
            </div><!-- End of Register for Direct Deposit -->
            <!--  -->
             <button class="btn btn-info pull-right" id="nextButton" name=
            "next" type="submit">Next <i class=
            "fa fa-arrow-right"></i></button>
          </div>
        </form>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </section>
</main>
