<h3>Info Of Client</h3>
<% @form_params.each do |key,value| %>
    <table>
      <tr>
        <td><strong><%= key.humanize.titleize %>:</strong></td>
        <td><%= value.empty? ? 'Empty' : value %></td>
      </tr>
   </table>
<% end %>
