<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Welcome to Fortax, <%= @user.name %></h1>
	<p>
		You have successfully signed up to fortax.com!

		Hope you have a wonderful experience with us.

		Thank you for joining and Have a great day! :) 
	</p>

</body>
</html>